* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://r4.wallpaperflare.com/wallpaper/716/131/782/earth-space-atmosphere-stars-wallpaper-c8560c4a4fccc7192e40b91202c9eb60.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
main {
  /* background-color: rgba(45, 45, 45, 50.5%); */
  /* background-image: url(https://i.redd.it/i4kih3w08ot31.jpg); */
  background-size: 500px 600px;
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.parent {
  margin: auto;
  display: flex;
  /* background-color: #2d2d2d; */
  background-image: url(/planet.jpg);
  background-size: cover;
  /* background-color: rgba(255, 255, 255, 0.06); */
  justify-content: space-around;
  width: 350px;
  height: 450px;
  border-radius: 30px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row-reverse;
  background-color: rgba(39, 38, 38, 0.5);
  width: 100%;
  height: 40px;
  color: white;
  text-transform: capitalize;
}
.menu span {
  font-size: 35px;
  padding: 5px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.parent .inside a p {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
}
.parent .inside a p:hover {
  text-decoration: underline;
}
.inside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row-reverse;
  flex-direction: column;
}
img {
  display: flex;
  /* background-image: url(\../Logo/icon_21.png); */
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}
input {
  display: flex;
  border: transparent;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  padding-left: 10px;
}
input:hover {
  background-color: rgba(82, 8, 151, 0.623);
  transition-duration: 0.5s;
}
.b {
  color: #ffffff;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
  text-transform: capitalize;
  width: 120px;
}
.cb {
  font-size: 17px;
  width: 17px;
  height: 17px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111116;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.button:hover {
  background-color: #202027;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}
